html{
    font-family: 'Helvetica','Arial','sans-serif';
    color: black;
}

h1{
    font-size:45px;
    font-weight:100;
    letter-spacing:-4px;
}

h3{
    font-size:25px;
    font-weight:100;
    letter-spacing:-2px;
}

a {
    text-decoration:none;
    color:inherit;
}

a:hover{
    color:gray;
}


/* Center vertically and horizontally */
.center {
    left: 0;
    /*line-height: 200px;*/
    margin: auto;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}


/* Mono Social Font */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 60px;
    padding: 20px;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
